<%init>
my $c1 = q{255,250,245};
my $f1 = q{64,64,96};
</%init>

div#cover
{
position:fixed;
top:0px;
left:0px;
width:100%;
height:100%;
background-color:rgba(0,0,0,.01);
z-index:10000;
display:none;
}

div#background
{
position:fixed;
top:0px;
left:0px;
width:100%;
height:100%;
background-color:rgba(0,0,0,.5);
z-index:-10000;
}

.hidden
{
	display:none;
}

input
{
margin-top:4px;
}

html
{
	height:100%;
}
body
{
	margin:0;
	font-family: helvetica,verdana,arial,sans-serif;
	color:rgba(<%$f1%>,1);
	/*background:url('/assets/images/christmas_presents.jpg') top left no-repeat;*/
	/*background:url('/assets/images/bokeh.jpg') top left no-repeat fixed;*/
	background: #003000 url('/assets/images/tree2.jpg') bottom left no-repeat fixed;
	background: #003000 url('http://desktop.freewallpaper4.me/view/original/4526/red-christmas.jpg') bottom left no-repeat fixed;
	background: #003000 url('/assets/images/christmas_background.jpg') center no-repeat fixed;
	
	/*text-shadow: 0px 0px 2px #000;*/
	height:100%;
}
#popup_wrapper
{
	position:fixed;
	height:0px;
	width:100%;
}
#popup
{
	position:relative;
	height:auto;
	left:20%;
	width:60%;
	background-color:rgba(<%$c1%>,.75) !important;
	padding:10px;
	z-index:10000;
	display:none;
}

.button
{
	display:inline-block;
	background-color:rgba(<%$c1%>,.15);
	border:1px solid rgba(<%$c1%>,.5);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5), 0 -5px 10px 0 rgba(255,255,255,.5) inset;
	border-radius:2px;
	padding:2px 5px;
	text-shadow: 0px 0px 2px rgba(0,0,0,.5);
	cursor:pointer;
	color:rgba(<%$f1%>,1);
	font-size:14px;
	text-decoration:none;
	margin-right:2px;
	position:relative;
	z-index:1000;
	position:relative;
	top:2px;
}
input.button
{
	top:0;
}

.button.icon
{
	padding:0;
	margin:0;
	width:20px;
	height:20px;
/*	opacity:0;*/
}
tr:hover .button.icon
{
	opacity:1;
}

.button:hover
{
	box-shadow: 0 0 8px 0 rgba(0,0,0,.5), 0 -5px 10px 0 rgba(255,255,255,.5) inset;
	border-color:rgba(<%$c1%>,75);
	position:relative;
	z-index:2000;
}
.button.selected, .button.selected:hover
{
	border:1px solid rgba(<%$c1%>,.5);
	text-shadow: 0px 0px 2px rgba(0,176,96,.5);
	background-color:none;
	cursor:default;
	box-shadow: 0 -5px 10px 0 rgba(255,255,255,.5) inset;
	z-index:1;
	color:#00B060 !important;
}

p
{
margin-bottom:10px;
}

p.error, p.success, p.warning
{
	border:1px solid;
	font-weight:bold;
	border-radius:2px;
	margin-top:0;
	padding:5px 10px;
}
p.error
{
	border-color: rgba(255,100,100,.5);
	background-color:rgba(255,100,100,.25);
	color:#D00000;	
}
p.success
{
	border-color:rgba(100,200,100,.5);
	background-color:rgba(100,200,100,.25);
	color:#00A000;
}
p.warning
{
	border-color:rgba(255,150,100,.5);
	background-color:rgba(255,150,100,.25);
	color:#C06400;
}

p.alert
{
	font-weight:bold;
	color:#C00000;
}

.clear
{
	clear:both;
}

.tabs, #content, #popup
{
	margin:0;
	background-color:rgba(<%$c1%>,.5);
	border:1px solid rgba(<%$c1%>,1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.20) inset;
	border-radius: 2px;
	border-left-width:4px;
	border-right-width:4px;
}
.tabs
{
display:inline-block;
}
#id_bar.tabs
{
	float:right;
	margin-right:50px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top:none;
	color:rgba(<%$c1%>,1);
}
#menu.tabs
{
	margin-left:90px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom:none;
	white-space-collapse:discard;
	color:rgba(<%$c1%>,1);

	float:left;	
}
#page_gifts .tabs
{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow:none;
	background-color:rgba(<%$c1%>,.25);
	border-bottom:none;
	border-color:rgba(<%$c1%>,.5);
}


#content
{
	background-color:rgba(<%$c1%>,.75);
	margin: 0 50px 50px 50px;
	padding: 10px;
	padding-bottom:0;
}
.tabs.choice
{
	float:left;
	border-radius:2px;
	font-weight:bold;
}
#content,
#content a:link,
#content a:hover,
#content a:visited
{
	color:rgba(<%$f1%>,1);
}

.tab {
	border-right:1px solid rgba(<%$c1%>,1);
	padding:3px 8px;
	height:100%;
	display:inline-block;
}
.tabs .tab:last-child {
	border-right:none;
}
.tabs .tab.has_action:hover {
	background-color: rgba(<%$c1%>,.25);
}
.tab.selected, .tab.has_action.selected:hover
{
	background-color: rgba(<%$c1%>,.5);
	position:relative;
	box-shadow: 0 0 5px 0 rgba(<%$c1%>,1);
}
.choice
{
	border-width:1px !important;
	box-shadow:none;
}
.choice .tab
{
	padding:0px 4px;
	color:white !important;
}
.choice .selected
{
	color:rgba(<%$f1%>,1);
}

.tabs a:link,
.tabs a:visited,
.tabs a:hover
{
	color:white;
	text-decoration:none;
}

#menu a:link,
#menu a:visited,
#menu a:hover
{
	font-size:17px;

}








#header
{
	margin-top:0;
}
#header h1
{
	color:rgba(<%$c1%>,1);

	font-weight:normal;
	margin:0px 50px;
	padding-top:20px;
	padding-left: 55px;
	padding-bottom:20px;
	background: url('/assets/images/present_icon_white.png') center left no-repeat;
}




table
{
	margin-bottom:10px;
	border:1px solid rgba(<%$c1%>,.5);
	background-color: rgba(<%$c1%>,0);
	border-radius:2px;
}

#page_gifts table
{
	border-top-left-radius: 0;
}
table td, table th
{
	vertical-align: top;
	text-align:left;
}
table.data
{
margin-bottom:10px;
}
table.data td, table.data th
{
	padding: 0 5px;
	border-bottom:1px solid rgba(<%$c1%>,.15);
}
table.data td:first-child, table.data th:first-child
{
	padding-left:10px;
}
table.data td:last-child, table.data th:last-child
{
	padding-right:10px;
}
table.data>tbody>tr:first-child>td
{
/*	padding-top:4px;*/
}
table.data>tbody>tr:last-child>td
{
	padding-bottom:4px;
	border-bottom:none;
}
table.data thead th
{
	border-bottom:1px solid rgba(<%$c1%>,.5);
	background-color:rgba(<%$c1%>,.15);
	color:rgba(<%$f1%>,.85);
	font-weight:normal;
	font-size:1.1em;
}

table.data p
{
margin:0;
display:inline-block;
padding-top:7px;
}

form>table>tbody>tr>td:first-child
{
	text-align:right;
}
form p.help
{
	font-size:.8em;
	color:rgba(<%$f1%>,.85);
}
form tr:hover
{
	background-color:rgba(<%$c1%>,.25);
}

p.comment
{
	margin:0 0 0 10px;
	color:rgba(<%$f1%>,.75);
	font-size:.9em;
	display:inline;
}

h2,h3
{
	border:1px solid rgba(<%$c1%>,1);
	font-weight:normal;
	padding-left:10px;
	padding-right:10px;
	color:rgba(<%$f1%>,1);
}
h2
{
	margin:0px -14px 10px -14px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-left-width:4px;
	border-right-width:4px;
	font-size:1.2em;
	background-color:rgba(<%$c1%>,.5);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
	padding-top:4px;
	padding-bottom:4px;
}
h2:first-child
{
	margin-top:-11px;
}

h3
{
	border-width:1px 0;
	border-color:rgba(<%$c1%>,.5);
	margin:5px -10px 2px -10px;
	font-size:1.05em;
	background-color:rgba(<%$c1%>,.25);
	padding-top:1px;
	padding-bottom:1px;
}
h2.controller, h3.controller
{
	padding-left:16px;
	background: rgba(<%$c1%>,.5) url('/assets/images/twisty-down.png') center left no-repeat;
	cursor:pointer;
}
h2.controller.collapsed, h3.controller.collapsed
{
	background: rgba(<%$c1%>,.5) url('/assets/images/twisty-right.png') center left no-repeat;
}

table tr:first-child h3
{
	margin-top:-1px;
}
